<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.mapper.AnnouncementMapper">

	<insert id="insertAnnouncement" parameterType="com.chinasoft.pojo.Announcement">
		insert into announcement(name,content,creatTime,userID) values (#{name},#{content},#{creatTime},#{userID})
	</insert>
	
	<delete id="deleteAnnouncement" parameterType="String">
		delete from announcement where name in (
		<foreach collection="names"  separator=","  item="name">
            #{name}
        </foreach>
        )
	</delete>
	
	<select id="selectAnnouncement" parameterType="com.chinasoft.pojo.Announcement" resultType="com.chinasoft.pojo.Announcement">
		select * from announcement where name like concat('%', #{select_key}, '%') or content like concat('%', #{select_key}, '%') order by creatTime
	</select>
	
	<select id="selectByid" parameterType="com.chinasoft.pojo.Announcement" resultType="com.chinasoft.pojo.Announcement">
		select * from announcement where announcementID = #{announcementID}
	</select>
	
	<select id="selectByName" parameterType="String" resultType="com.chinasoft.pojo.Announcement">
		select * from announcement where name = #{name}
	</select>
	
	<select id="selectAll" resultType="com.chinasoft.pojo.Announcement">
		select * from announcement order by creatTime
	</select>
	
	<select id="getIdByUsername" parameterType="String" resultType="int">
		select user_id from user where username = #{username} 
	</select>
	
	<select id="getUsernameById" parameterType="String" resultType="String">
		select user_id from user where username = #{username}
	</select>

	<update id="updateAnnouncement" parameterType="com.chinasoft.pojo.Announcement">
		update announcement set 
		<if test='new_name != null and new_name !=""'>
			name = #{new_name}
		</if>
		<if test='content != null and content!=""'>
			, content = #{content}
		</if>
		where name = #{name}
	</update>
</mapper>