<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.mapper.DepartmentMapper">
	
	<insert id="insertDepartment"
		parameterType="Department">
		insert into department
		(departmentName,departmentMessage)
		values
		<if test="departmentName!=null">
			(#{departmentName},
		</if>
		<if test="departmentMessage!=null">
			#{departmentMessage})
		</if>
	</insert>
	
	<delete id="deleteDepartment" parameterType="String">
		delete  from department where departmentName in(
		<foreach collection="dept_name"  separator=","  item="index">
            #{index}
        </foreach>
        )
	</delete>
	
	<delete id="deleteRelated" parameterType="String">
		delete  from position where departmentID in
		(
			<foreach collection="departmentID"  separator=","  item="index">
           	 	#{index}
        	</foreach>
        )
		
	</delete>
	
	<select id="getIdByName" parameterType="String" resultType="String">
		select departmentID from department where departmentName in
			(
				<foreach collection="dept_name"  separator=","  item="index">
           	 		#{index}
        		</foreach>
        	)
	</select>
	
	<select id="checkUser" parameterType="String" resultType="User">
		select * from user u left join department d on u.department_id = d.departmentID where d.departmentName in
			(
				<foreach collection="dept_name"  separator=","  item="index">
           	 		#{index}
        		</foreach>
        	)
	</select>

	<select id="getNum" parameterType="int" resultType="int">
		select count(department_id) from user where  department_id=#{departmentID}
	</select>

	<select resultType="Department" id="selectAll">
		select * from department order by departmentName
	</select>
	
	<select resultType="Department" id="selectByname" parameterType="String">
		select * from department where departmentName = #{departmentName}
	</select>
	
	<select resultType="Department" id="selectBymessage" parameterType="String">
		select * from department 
		where 
			departmentName like concat('%', #{departmentMessage}, '%') 
			or departmentMessage like concat('%', #{departmentMessage}, '%')
		order by departmentName
	</select>
	
	<select resultType="Department" id="selectByid" parameterType="Integer">
		select * from department where departmentID = #{departmentID}
	</select>
	
	<update id="updateDepartment" parameterType="String">
		update department set
		<if test="departmentName != null">
			departmentName = #{departmentName}
		</if>
		<if test="departmentMessage != null">
			,departmentMessage = #{departmentMessage}
		</if>
		where departmentName = #{departmentNameOld}
	</update>
</mapper>